.Rproj.user
.Rhistory
.RData
.Ruserdata
.DS_Store
.ipynb_checkpoints/
justifications_01-06/.DS_Store
.ipynb_checkpoints/regex_sandbox-checkpoint.ipynb
NIreland_NLP.Rproj
.vscode/
__pycache__/
wordvec/
NI_docs
test_embedding_w2v.txt
.idea/
model_training_and_evaluation/*.tsv